<!DOCTYPE HTML PUBLIC="">
<html>

{% include "head.html" %}

<body>

{% include "nav.html" %}

<div id="index-page" class="page-wrapper">
    <div class="page container">
        <form action="/swimming/win/update" method="post">
            <div class="row">
                <div class="col-md-4">
                    <h2>Todo</h2>
                    <ul class="list-unstyled connected" id="todo">
                        {% for win in todo %}
                        <li>
                            <input type="checkbox" name="{{ win.id }}"/>
                            <span>{{ win.task }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Queued</h2>
                    <ul class="list-unstyled connected" id="queued">
                        {% for win in queued %}
                        <li>
                            <input type="checkbox" name="{{ win.id }}"/>
                            <span>{{ win.task }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Done</h2>
                    <ul class="list-unstyled connected" id="done">
                        {% for win in done %}
                        <li>
                            <input type="checkbox" name="{{ win.id }}"/>
                            <span>{{ win.task }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div>
                <select name="status">
                    {% for action in actions %}
                        <option value="{{ action }}">{{ action|capitalize }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn"/>
            </div>
        </form>
        <div>
            <a href="/swimming/win/create" class="btn btn-primary">Create small win</a>
            <a href="/swimming/win" class="btn btn-primary">Completed small wins</a>
        </div>
    </div>
</div>

</body>
</html>
