<!DOCTYPE HTML PUBLIC="">
<html>

{% include "head.html" %}

<body>

{% include "nav.html" %}

<div id="wins-completed-page" class="page-wrapper">
    <div class="page container">
        <h1>Completed wins</h1>
        <form action="/swimming/win/update" method="post">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                {% for win in wins %}
                    <tr>
                        <td>{{ win.task }}</td>
                        <td>{{ win.status }}</td>
                        <td>{{ win.date_ }}</td>
                        <td><input type="checkbox" name="{{ win.id }}"/></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <select name="status">
                    {% for action in actions %}
                        <option value="{{ action }}">{{ action|capitalize }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>
