/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: 13px;
}
/* Tag and general class selectors.
 * -------------------------------- */
body {
  font-family: arial, sans-serif;
}
.btn {
  border: none;
  font-family: 'Roboto' !important;
}
.btn.btn-primary {
  background-color: #a29e81;
}
.btn.btn-primary:active {
  background-color: #548d76;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
}
/* Structural elements.
 * -------------------- */
#nav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/@color-light-brown+0,548d76+100 */
  background: #a29e81;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a29e81 0%, #548d76 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a29e81 0%, #548d76 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a29e81 0%, #548d76 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-light-brown', endColorstr='@color-teal', GradientType=0);
  /* IE6-9 */
  color: white;
}
#nav h1 {
  margin-top: 10px;
}
#nav h1 a,
#nav h1 a:hover,
#nav h1 a:active {
  color: white;
  text-decoration: none;
}
#nav p {
  font-family: 'Roboto';
}
/* Content that spans pages.
 * ------------------------- */
/* Pages.
 * ------ */
#index-page h2 {
  font-size: 20px;
  font-weight: bold;
}
#index-page ul {
  /* Required so that users can drag items into empty lists. */
  min-height: 40px;
  border-bottom: 1px solid #eee;
}
#index-page ul li {
  background-color: #f9f9f9;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
#index-page ul li span {
  position: relative;
  left: 10px;
}
#index-page ul li span input.task-being-edited {
  position: relative;
  top: -2px;
  border: 1px solid #faafa6;
  width: 90%;
}
#index-page ul#todo {
  border-bottom: 1px solid #faafa6;
}
#index-page ul#todo li {
  background-color: #fddeda;
  border-top: 1px solid #faafa6;
  border-left: 1px solid #faafa6;
  border-right: 1px solid #faafa6;
}
#index-page ul#done li span {
  text-decoration: line-through;
}
#index-page #controls {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
}
#task-create-page input[type="text"] {
  width: 350px;
}
#tasks-completed-page table {
  font-size: 13px;
}
/* Plugin overrides.
 * ----------------- */
.sortable-dragging {
  border: 3px solid #a29e81 !important;
}
.sortable-placeholder {
  background-color: white !important;
  border: 2px dotted #ccc !important;
  height: 40px;
}
