/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: 13px;
}
/* Tag and general class selectors.
 * -------------------------------- */
body {
  font-family: arial, sans-serif;
}
.btn {
  border: none;
  font-family: 'Roboto' !important;
}
.btn.btn-primary {
  background-color: #1976D2;
}
.btn.btn-primary:active {
  background-color: #12579b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  margin-top: 0;
  border-bottom: 2px solid #333;
}
/* Structural elements.
 * -------------------- */
#nav {
  background: #333;
  color: white;
}
#nav h1 a,
#nav p a,
#nav h1 a:hover,
#nav p a:hover,
#nav h1 a:active,
#nav p a:active {
  color: white;
  text-decoration: none;
}
#nav h1 {
  margin-top: 10px;
}
#nav p {
  margin: 5px 0;
}
#nav p a {
  font-family: 'Roboto';
}
/* Content that spans pages.
 * ------------------------- */
.page {
  margin: 30px auto;
}
/* Pages.
 * ------ */
#index-page #menu {
  padding: 15px 0;
  background-color: #eee;
}
#index-page h2 {
  font-size: 20px;
  font-weight: bold;
  border: none;
}
#index-page ul {
  /* Required so that users can drag items into empty lists. */
  min-height: 40px;
  border-bottom: 1px solid #eee;
}
#index-page ul li {
  background-color: #f9f9f9;
  min-height: 40px;
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
#index-page ul li span {
  position: relative;
  left: 10px;
}
#index-page ul li span input.task-being-edited {
  position: relative;
  top: -2px;
  border: 1px solid #faafa6;
  width: 90%;
}
#index-page ul#todo {
  border-bottom: 1px solid #faafa6;
}
#index-page ul#todo li {
  background-color: #fddeda;
  border-top: 1px solid #faafa6;
  border-left: 1px solid #faafa6;
  border-right: 1px solid #faafa6;
}
#index-page ul#done li span {
  text-decoration: line-through;
}
#index-page .total-time {
  font-size: 14px;
  font-weight: bold;
}
#index-page #controls {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
}
#task-create-page input[type="text"] {
  width: 350px;
  margin-bottom: 10px;
}
#task-create-page p {
  font-size: 16px;
  margin: 30px 0;
}
#tasks-completed-page table {
  font-size: 13px;
}
#auth-page input {
  margin-bottom: 10px;
}
/* Plugin overrides.
 * ----------------- */
.sortable-dragging {
  border: 3px solid #1976D2 !important;
}
.sortable-placeholder {
  background-color: white !important;
  border: 2px dotted #ccc !important;
  height: 40px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1976D2;
}
.pagination > li > a,
.pagination > li > span {
  color: #1976D2;
}
