/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: 13px;
}
/* Tag and general class selectors.
 * -------------------------------- */
body {
  font-family: arial, sans-serif;
}
.btn {
  border: none;
  font-family: 'Roboto' !important;
}
.btn.btn-primary {
  background-color: #1976D2;
}
.btn.btn-primary:active {
  background-color: #12579b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
  margin-top: 0;
  border-bottom: 2px solid #333;
}
.btn {
  padding: 4px 8px;
  border-radius: 3px;
}
.btn.btn-primary {
  background-color: #888;
}
.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: #666;
}
.btn.btn-info {
  background-color: #c4151e;
}
.btn.btn-info:active,
.btn.btn-info:hover {
  background-color: #c4151e;
}
/* Structural elements.
 * -------------------- */
#nav {
  background: #333;
  color: white;
}
#nav h1 a,
#nav p a,
#nav h1 a:hover,
#nav p a:hover,
#nav h1 a:active,
#nav p a:active {
  color: white;
  text-decoration: none;
}
#nav h1 {
  margin-top: 10px;
}
#nav p {
  margin: 2px 0;
}
#nav p a {
  font-family: 'Roboto';
}
/* Content that spans pages.
 * ------------------------- */
.page {
  margin: 15px auto;
}
#menu {
  padding: 5px 0;
  background-color: #eee;
}
/* Pages.
 * ------ */
#index-page h2 {
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin-bottom: 20px;
}
#index-page ul.connected {
  /* Required so that users can drag items into empty lists. */
  min-height: 40px;
}
#index-page ul.connected li {
  background-color: #f9f9f9;
  min-height: 40px;
  margin-bottom: 1px;
  padding: 10px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
#index-page ul.connected li .edit-btn {
  padding-left: 5px;
  color: #444;
}
#index-page ul.connected li.research {
  background-color: #f0fff0;
  border-top: 1px solid #7abe7b;
  border-left: 1px solid #7abe7b;
  border-right: 1px solid #7abe7b;
  border-bottom: 1px solid #7abe7b;
}
#index-page ul.connected li.coursework,
#index-page ul.connected li.development,
#index-page ul.connected li.ka_math,
#index-page ul.connected li.pti {
  background-color: #fff8eb;
  border-top: 1px solid #e8aa34;
  border-left: 1px solid #e8aa34;
  border-right: 1px solid #e8aa34;
  border-bottom: 1px solid #e8aa34;
}
#index-page ul.connected li.side_projects,
#index-page ul.connected li.yak_shaving,
#index-page ul.connected li.personal,
#index-page ul.connected li.rest,
#index-page ul.connected li.health,
#index-page ul.connected li.teaching,
#index-page ul.connected li.hunt {
  background-color: #fee6e6;
  border-top: 1px solid #fd4953;
  border-left: 1px solid #fd4953;
  border-right: 1px solid #fd4953;
  border-bottom: 1px solid #fd4953;
}
#index-page ul.connected li.upcoming {
  font-weight: bold;
}
#index-page ul.connected#done li span {
  text-decoration: line-through;
}
#index-page .total-time {
  font-size: 14px;
  font-weight: bold;
}
#index-page ul.label-pcts {
  list-style-type: none;
  padding-left: 0;
  margin: 10px 0 15px 0;
}
#index-page #controls {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 10px;
}
#index-page #timer #time {
  color: #c4151e;
  font-size: 20px;
  position: relative;
  top: 2px;
  right: 10px;
  font-weight: bold;
}
#task-create-page input[type="text"] {
  width: 350px;
  margin-bottom: 10px;
}
#task-create-page p {
  font-size: 16px;
  margin: 30px 0;
}
#tasks-completed-page table,
#tasks-upcoming-page table {
  font-size: 13px;
}
#auth-page input {
  margin-bottom: 10px;
}
#report-page #stats {
  margin-top: 20px;
}
#everyday-page table {
  margin-top: 20px;
}
/* Plugin overrides.
 * ----------------- */
.sortable-dragging {
  border: 3px solid #1976D2 !important;
}
.sortable-placeholder {
  background-color: white !important;
  border: 2px dotted #ccc !important;
  height: 40px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1976D2;
}
.pagination > li > a,
.pagination > li > span {
  color: #1976D2;
}
