@import 'variables.less';

/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: @font-size-base;
}

/* Tag and general class selectors.
 * -------------------------------- */
body {
  font-family: @font-family-base;
}

.btn {
  border: none;
  font-family: @font-family-accent !important;
}

.btn.btn-primary {
  background-color: @color-blue;
  &:active {
    background-color: #12579b;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family-accent;
  margin-top: 0;
  border-bottom: 2px solid #333;
}

/* Structural elements.
 * -------------------- */
#nav {
  background: #333;
  color: white;

  h1, p {
    a,
    a:hover,
    a:active {
      color: white;
      text-decoration: none;
    }
  }

  h1 {
    margin-top: 10px;
  }

  p {
    margin: 5px 0;

    a {
      font-family: @font-family-accent;
    }
  }
}

/* Content that spans pages.
 * ------------------------- */
.page {
  margin: 30px auto;
}

#menu {
  padding: 15px 0;
  background-color: #eee;
}

/* Pages.
 * ------ */
#index-page {

  h2 {
    font-size: 20px;
    font-weight: bold;
    border: none;
  }

  ul.connected {
    /* Required so that users can drag items into empty lists. */
    min-height: @dim-win-height;
    border-bottom: 1px solid #eee;
    
    li {
      background-color: #f9f9f9;
      min-height: @dim-win-height;
      padding: 10px;
      border-top: 1px solid #eee;
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;

      .edit-btn {
        padding-left: 5px;
        color: @color-blue;
      }
    }

    &#todo {
      border-bottom: 1px solid @color-pink;

      li {
        background-color: #fddeda;
        border-top: 1px solid @color-pink;
        border-left: 1px solid @color-pink;
        border-right: 1px solid @color-pink;

        &.first {
          background-color: @color-pink;
        }
      }
    }

    li.upcoming {
      font-weight: bold;
    }

    &#done {
      li {
        span {
          text-decoration: line-through;
        }
      }
    }
  }

  .total-time {
    font-size: 14px;
    font-weight: bold;
  }

  ul.label-pcts {
    list-style-type: none;
    padding-left: 0;
    margin: 10px 0 15px 0;
  }

  #controls {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 10px;
  }
}

#task-create-page {
  input[type="text"] {
    width: 350px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    margin: 30px 0;
  }
}

#tasks-completed-page,
#tasks-upcoming-page {
  table {
    font-size: @font-size-base;
  }
}

#auth-page {
  input {
    margin-bottom: 10px;
  }
}

/* Plugin overrides.
 * ----------------- */
.sortable-dragging {
  border: 3px solid @color-blue !important;
}

.sortable-placeholder {
  background-color: white !important;
  border: 2px dotted #ccc !important;
  height: @dim-win-height;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: @color-blue;
}
.pagination > li > a,
.pagination > li > span {
  color: @color-blue;
}