<!DOCTYPE HTML PUBLIC="">
<html>

{% include "head.html" %}

<body>

{% include "nav.html" %}

<div id="index-page" class="page-wrapper">

    {% include "menu.html" %}

    <div class="page container">
        <form action="task/update" method="post">
            <div class="row">
                <div class="col-md-4">
                    <h2>Todo</h2>
                    <div class="total-time"></div>
                    <ul class="label-pcts"></ul>
                    <ul class="list-unstyled connected" id="todo">
                        {% for task in todo %}
                            {% set css_class = 'upcoming' if task.start_date else '' %}
                            <li name="{{ task.id }}" class="{{ css_class }}">
                                <span class="description">{{ task.description }}</span>
                                <span>(</span><span class="duration">{{ task.duration }}</span><span>)</span>
                                <span class="labels">{{ task.labels_as_string }}</span>
                                <a class="edit-btn" href="task/edit/{{ task.id }}">Edit</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Queued</h2>
                    <div class="total-time"></div>
                    <ul class="label-pcts"></ul>
                    <ul class="list-unstyled connected" id="queued">
                        {% for task in queued %}
                            {% set css_class = 'upcoming' if task.start_date else '' %}
                            <li name="{{ task.id }}" class="{{ css_class }}">
                                <span class="description">{{ task.description }}</span>
                                <span>(</span><span class="duration">{{ task.duration }}</span><span>)</span>
                                <span class="labels">{{ task.labels_as_string }}</span>
                                <a class="edit-btn" href="task/edit/{{ task.id }}">Edit</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Done</h2>
                    <div class="total-time"></div>
                    <ul class="label-pcts"></ul>
                    <ul class="list-unstyled connected" id="done">
                        {% for task in done %}
                            {% set css_class = 'upcoming' if task.start_date else '' %}
                            <li name="{{ task.id }}" class="{{ css_class }}">
                                <span class="description">{{ task.description }}</span>
                                <span>(</span><span class="duration">{{ task.duration }}</span><span>)</span>
                                <span class="labels">{{ task.labels_as_string }}</span>
                                <a class="edit-btn" href="task/edit/{{ task.id }}">Edit</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>
