<!DOCTYPE HTML PUBLIC="">
<html>

{% include "head.html" %}

<body>

{% include "nav.html" %}

<div id="index-page" class="page-wrapper">
    <div id="menu" class="container-full">
        <div class="container">
            <a href="/swim/task/create" class="btn btn-primary">Create</a>
            <a href="/swim/task" class="btn btn-primary">Completed</a>
        </div>
    </div>
    <div class="page container">
        <form action="/swim/task/update" method="post">
            <div class="row">
                <div class="col-md-4">
                    <h2>Todo</h2>
                    <ul class="list-unstyled connected" id="todo">
                        {% for task in todo %}
                        <li>
                            <input type="checkbox" name="{{ task.id }}"/>
                            <span class="description">{{ task.description }}</span>
                            <span>(</span><span class="duration">{{ task.duration }}</span><span>)</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Queued</h2>
                    <ul class="list-unstyled connected" id="queued">
                        {% for task in queued %}
                        <li>
                            <input type="checkbox" name="{{ task.id }}"/>
                            <span class="description">{{ task.description }}</span>
                            <span>(</span><span class="duration">{{ task.duration }}</span><span>)</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Done</h2>
                    <ul class="list-unstyled connected" id="done">
                        {% for task in done %}
                        <li>
                            <input type="checkbox" name="{{ task.id }}"/>
                            <span class="description">{{ task.description }}</span>
                            <span>(</span><span class="duration">{{ task.duration }}</span><span>)</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="controls">
                <select name="status">
                    {% for action in actions %}
                        <option value="{{ action }}">{{ action|capitalize }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn" value="Update"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>
