<!DOCTYPE HTML PUBLIC="">
<html>

{% include "head.html" %}

<body>

{% include "nav.html" %}

<div id="tasks-completed-page" class="page-wrapper">
    <div class="page container">
        <h1>Completed Tasks</h1>
        <p>Small wins completed: {{ total_tasks_completed }}</p>
        <p>Total time spent (hours): {{ total_hours_spent }}</p>
        <form action="/swim/task/update" method="post">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Date Completed</th>
                        <th></th>
                    </tr>
                </thead>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.description }}</td>
                        <td>{{ task.date_completed }}</td>
                        <td><input type="checkbox" name="{{ task.id }}"/></td>
                    </tr>
                {% endfor %}
            </table>
            <div>
                <select name="status">
                    {% for action in actions %}
                        <option value="{{ action }}">{{ action|capitalize }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="btn"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>
