<!DOCTYPE HTML PUBLIC="">
<html>

{% include "head.html" %}

<body>

{% include "nav.html" %}

<div id="tasks-completed-page" class="page-wrapper">
    <div class="page container">
        <h1>Completed Tasks</h1>
        <p>Small wins completed: {{ total_tasks_completed }}</p>
        <p>Total time spent (hours): {{ total_hours_spent }}</p>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Label</th>
                    <th># tasks</th>
                    <th>% time</th>
                </tr>
            </thead>
            {% for label in label_task_counts %}
                <tr>
                    <td>{{ label }}</td>
                    <td>{{ label_task_counts[label] }}</td>
                    <td>{{ pct_time_per_label[label] }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>
